<!--<script type="text/javascript" defer src="https://unpkg.com/@monaco-editor/loader@latest/lib/umd/monaco-loader.min.js"></script>-->
<style id="customcss" data-bind="text: settings.settings.plugins.customcss.css"></style>
