<script>
(async () => {
    const imp = async url => eval(await (await fetch(url)).text());
    let textareaDom = document.querySelector("#settings_plugin_customcss .controls textarea");
    await imp('https://unpkg.com/@monaco-editor/loader@latest/lib/umd/monaco-loader.min.js');
    monaco_loader.config({paths: { vs: "https://unpkg.com/monaco-editor@latest/min/vs" }});
    monaco_loader.init().then((monaco) => {
      window.editor = monaco.editor.create(
        document.querySelector("#settings_plugin_customcss .controls"),
        { language: "css",
        value: textareaDom.value, 
        theme: "vs-dark" 
        }
      );
      window.editor.onDidChangeModelContent((event) => {
        textareaDom.value = editor.getValue()
        textareaDom.dispatchEvent(new Event('change'));
      });;
    });
    document.querySelector('li#settings_plugin_customcss_link').onclick = async function(){
        await new Promise(r => setTimeout(r, 100));
        editor.setValue(textareaDom.value);
        editor.layout();
    }
})();
</script>
<form class="form-vertical">
    <div class="control-group">
        <label class="control-label">Custom CSS</label>
        <div class="controls">
            <textarea rows="8" class="block monospace" height="100%" data-bind="value: settings.plugins.customcss.css" style="display:none"></textarea>
        </div>
    </div>
</form>


